.App {
  text-align: center;
  background-color: #002b5c;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #002b5c;
  padding: 20px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

.tabs button.active {
  background-color: #002b5c;
}

.tab-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tweet-textarea,
#articleContent {
  width: 100%;
  height: 100px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.article-textarea,
#articleContent {
  width: 100%;
  height: 300px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}


.numeric-inputs,
.article-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.numeric-inputs label,
.article-inputs label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.numeric-inputs input,
.article-inputs input {
  width: 100px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #002b5c;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.result-icon {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Espacement par rapport au texte */
  font-size: 96px; /* Taille de l'icône */
  margin-left: 46%; /* Décalage vers la droite */
}
