.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form.tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.tweet-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.numeric-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.numeric-inputs label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 10px;
  font-size: 16px;
}

.numeric-inputs input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-align: left;
}
